<!DOCTYPE html>
<html>
<head>
  <title>My Shopping Cart</title>
</head>
<body>
  <h1 style="color: black;">My Shopping Cart</h1>
  <div id="cart" style="border: 1px solid black; padding: 10px;">
    <h2>Cart</h2>
    <table>
      <thead>
        <tr>
          <th class="col-1">Product Name</th>
          <th class="col-1">Price</th>
          <th class="col-1">Amount</th>
          <th class="col-1">Total</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
        <tr>
          <td>{{product_name}}</td>
          <td>${{price}}</td>
          <td>{{amount}}</td>
          <td>${{total}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <br>
    <p style="color: black; text-align:center">Total: ${{grandtotal}}</p>
    <button id="checkout-btn" style="background-color: green; color: white; padding: 5px 10px;">Checkout</button>
  </div>
</body>
</html>