<title>TLP - Products</title>

<!-- our_fruit -->
<div id="our_fruit" class="header-section our_fruit p-4">
    <div class="text-center">
        <div class="col-xl-12">
            <h1 id="product_h1" class="card-title m-3">Vendor Products</h1>
            <div class="header-section d_flex">
                <div class="col-xl-8 col-lg-8 col-md-8 padding_lert">
                    <div class="d-flex flex-row">
                     
                        <!-- Image Fruit/Vegetable -->
                        <div class="col-md-6 padd_lrri">
                            <div class="our_fruit_img card" style="background-color: #498292">
                                <img class="card-img-top rounded pt-3" style="background-color: #498292"src="/images/produce-img1.jpg" alt="fruits-vegetables"/>
                                <div class="card-body text-center">
                                    <h5 class="product_h5 card-title">Fruits and Vegetables</h5>
                                    <p class="product_p card-text flex-wrap">We have scoured the region to find farmers who have mastered the art of growing premium-grade fruits and vegetables. From succulent, vine-ripened tomatoes to crisp, organic lettuce leaves, the produce from our vendors will transport you to a world of unparalleled freshness. </p>
                                </div>
                            </div>
                        </div>

                        <!-- Image Meat/Poultry -->
                        <div class="col-md-6 padd_lrri">
                            <div class="our_fruit_img card" style="background-color: #498292">
                                <img class="card-img-top rounded pt-3" style="background-color: #498292"src="images/Meat-img1.jpg" alt="meat-poultry"/>
                                <div class="card-body text-center">
                                    <h5 class="product_h5 card-title">Meats and Poultry</h5>
                                    <p class="product_p card-text">Our vendors offer meats and poultry that are equally exceptional, sourced from ethically raised animals that enjoy a life of blissful freedom. Delight in the tenderness of grass-fed beef, savor the succulence of pasture-raised chicken, and indulge in the rich flavors of thoughtfully cured charcuterie selections..</p>
                                </div>
                            </div>
                        </div>

                        <!-- Image Honey/Bread -->
                        <div class="col-md-6 padd_lrri">
                            <div class="our_fruit_img card" style="background-color: #498292">
                                <img class="card-img-top rounded pt-3" style="background-color: #498292"src="images/artisinal-img1.jpg" alt="meat-poultry"/>
                                <div class="card-body text-center">
                                    <h5 class="product_h5 card-title">Artisanal Goods</h5>
                                    <p class="product_p card-text">It doesn't stop there! Our artisanal producers bring their passion and expertise to every batch of cheese, bread, honey, and preserves they create. Each product showcases the dedication and skill that goes into its making, resulting in culinary delights that will leave you craving more.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end our_fruit -->
<div class=" d-flex flex-row justify-content-center">
    <img class="rounded-circle w-25 m-3" src="images/P2-logo.png" alt="brand logo"/>
</div>

<!-- Section-->
<section>
    <div class="header-section p-4">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {{#each products as |product|}}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src={{product.image_url}} alt="farm grown carrots" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h4 class="product-name fw-bolder">{{product.product_name}} </h4>
                                <h5 class="seller-name">Seller: {{product.seller_name}} </h5>
                                <p class="price"> Price: ${{product.price}}/{{product.sold_by}} </p>
                                <p class="amount-available"> Amount available: {{product.amount}} </p>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a id="add-to-cart-btn"  class="btn btn-outline-dark mt-auto">Add To Cart
                                <div hidden>{{product.product_id}}</div>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
<script src="js/productspage.js"></script>
</section>

