<body class="main-layout">

<!-- our_fruit -->
<div id="our_fruit"  class="our_fruit pt-0" style="background-color: #efeadd">
    <div class="container-fluid">
        <div class="row d_flex" style="background-color: #917066">
        <div class="col-xl-5 col-lg-5 col-md-12">
            <div class="our_fruit_text">
                <div class="titlepage m-3 d-flex flex-column justify-content-center align-items-center text-center">
                    <h2 style="color: #efeadd">Our Products</h2>
                    <div class="banner_main_img ">
                        <figure class="d-flex flex-row justify-content-center align-items-center">
                            <img class="rounded-circle w-100 m-5" style="border: 5px solid #498292" src="images/P2-logo.png" alt="brand logo"/>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-12 padding_lert">
            <div class="row">

                <!-- Image Fruit/Vegetable -->
                <div class="col-md-6 padd_lrri">
                    <div class="our_fruit_img card" style="background-color: #498292">
                        <img class="card-img-top rounded pt-3" style="background-color: #498292"src="/images/produce-img1.jpg" alt="tomato-potato"/>
                        <div class="card-body text-center" style="color:#efeadd">
                            <h5 class="card-title" style="color:#efeadd">Fruits and Vegetables</h5>
                            <p class="card-text" >From succulent, vine-ripened tomatoes that burst with flavor to crisp, organic lettuce leaves that practically dance on your palate, our produce will transport you to a world of unparalleled freshness. We have scoured the region to find farmers who have mastered the art of growing premium-grade fruits and vegetables, ensuring that every bite is a moment of pure bliss.</p>
                        </div>
                    </div>
                </div>

                <!-- Image Meat/Poultry -->
                <div class="col-md-6 padd_lrri">
                    <div class="our_fruit_img card" style="background-color: #498292">
                        <img class="card-img-top rounded pt-3" style="background-color: #498292"src="images/Meat-img1.jpg" alt="meat-poultry"/>
                        <div class="card-body text-center" style="color:#efeadd">
                            <h5 class="card-title" style="color:#efeadd">Meats and Poultry</h5>
                            <p class="card-text">Our meats and poultry are equally exceptional, sourced from ethically raised animals that enjoy a life of blissful freedom. Delight in the tenderness of our grass-fed beef, savor the succulence of our pasture-raised chicken, and indulge in the rich flavors of our thoughtfully cured charcuterie selections..</p>
                        </div>
                    </div>
                </div>

                <!-- Image Honey/Bread -->
                <div class="col-md-6 padd_lrri">
                    <div class="our_fruit_img card" style="background-color: #498292">
                        <img class="card-img-top rounded pt-3" style="background-color: #498292"src="images/artisinal-img1.jpg" alt="meat-poultry"/>
                        <div class="card-body text-center" style="color:#efeadd">
                            <h5 class="card-title" style="color:#efeadd">Artisanal Goods</h5>
                            <p class="card-text">But it doesn't stop there! Our artisanal producers bring their passion and expertise to every batch of cheese, bread, honey, and preserves they create. Each product showcases the dedication and skill that goes into its making, resulting in culinary delights that will leave you craving more.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end our_fruit -->

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {{#each products as |product|}}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src={{product.image_url}} alt="farm grown carrots" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h4 class="product-name fw-bolder">{{product.product_name}} </h4>
                            <h5 class="seller-name">Seller: {{product.seller_name}} </h5>
                            <p class="price"> Price: ${{product.price}}/{{product.sold_by}} </p>
                            <p class="amount-available"> Amount available: {{product.amount_available}} </p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/mycart">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<script src="js/productspage.js"></script>