    <!-- title -->
    <section class="py-5">
                <img class="rounded-circle w-25" style="border: 5px solid #b66850" src="images/P2-logo.png" alt="brand logo"/>
                <h1 class="display-4 fw-bolder">Shop Fresh</h1>
        <div class="container px-4 px-lg-5 my-5">
            {{!-- <div class="text-center text-white"> --}}
                <p class="lead fw-normal text-white-50 mb-0"></p>
            {{!-- </div> --}}
        </div>
    </section>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {{#each products as |product|}}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src={{product.image_url}} alt="farm grown carrots" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h4 class="product-name fw-bolder">{{product.product_name}} </h4>
                                <h5 class="seller-name">Seller: {{product.seller_name}} </h5>
                                <p class="price"> Price: ${{product.price}}/{{product.sold_by}} </p>
                                <p class="amount-available"> Amount available: {{product.amount_available}} </p>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/mycart">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>