<!-- profile.hbs -->
<div class="profile">
  <img src="{{profilePicture}}" alt="Profile Picture">
  <div>
    <h1>{{user.name}}</h1>
    <p>User ID: {{user_id}}</p>
    <p>Address: {{address}}</p>
    <p>Birthday: {{birthday}}</p>
  </div>
</div>
<h2>About Me</h2>
<p>{{about}}</p>
<h2>Contact Information</h2>
<p>Email: {{email}}</p>
<p>Phone: {{phone}}</p>

<button id="logout">Logout</button>

<script src="js/profile.js"></script>
