<!-- profile.hbs -->
<div class="profile">
  <img src="{{profilePicture}}" alt="Profile Picture">
  <div>
    <h1>{{name}}</h1>
    <p>Location: {{location}}</p>
  </div>
</div>
<h2>About Me</h2>
<p>{{about}}</p>
<h2>Contact Information</h2>
<p>Email: {{email}}</p>
<p>Phone: {{phone}}</p>

<button id="logout">Logout</button>

<script>
async function logout() {
  try {
    const response = await fetch('/api/user/logout', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
    });
    if (response.ok) {
      const data = await response.json();
      console.log('Success:', data);
      location.reload(); // Refresh the page
    } else {
      throw new Error('Error:', response.statusText);
    }
  } catch (error) {
    console.error('Error:', error);
  }
}

document.querySelector('#logout').addEventListener('click', logout);
</script>
